<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PickASlice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PickASlice.Properties.Settings>
            <setting name="OrcaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BambuPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ElegooPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AnycubicPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CrealityPath" serializeAs="String">
                <value />
            </setting>
            <setting name="QidiPath" serializeAs="String">
                <value />
            </setting>
        </PickASlice.Properties.Settings>
    </userSettings>
</configuration>